body {
    text-align: center;
}

iframe {
    width: 100%;
    min-width: 304px;
    max-width: 620px;
    height: 330px;
    border: 0px;
}

#questions {
  clear: both;
  padding-top: 1em;
  text-align: center;
}

#questions a {
  display: inline-block;
  font-weight: bold;
  font-size: small;
}

#duo-instructions {
  font-weight: normal;
  font-size: small;
  margin: 0 auto;
  width: 90%;
  margin-top: 1em;
  padding: 2em;
  padding-bottom: 0;
  text-align: left;
}
