{% extends "base.html" %}

{% block title %}Choose a University{% endblock %}

{% block content %}
<div class="container mx-auto py-10">
    <h1 class="text-3xl font-bold text-center mb-10">Welcome, {{ name }}! Choose a University</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {% for uni in university_list %}
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg hover:shadow-xl transition">
            <img src="{{ url_for('static', filename=uni.logo.split('static/')[-1]) }}" alt="{{ uni.display_name }} Logo"
                class="w-full h-32 object-contain mb-4">
            <a href="{{ url_for('login', college=uni.name) }}" target="_blank" class="block text-xl font-bold text-center text-white">
                {{ uni.display_name }}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
